* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: #49c2dc;
    height: 100%;
    
    /* Background image setting */
    background-image: url("../images/MI Sunrise.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Edit the tab section */
.navbar {
    /* text-align: left; */
    font-size: 20px;
    /* padding-left: 50px; */
    /* letter-spacing: 2px; */
    height: 25px;
    width: 45%;
    /* margin-top: 15px; */
    position: fixed;
    top: 3%;
    left: 2%;
    display: inline-block;
    /* background-color: rgba(255,255,255,0.5); */
}

/* Anchored link settings before visit */
.navbar a:link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: palatino, URW Palladio L, serif;
    padding: 10px 15px;
    text-align: center;
}

/* Anchored link settings after visit */
.navbar a:visited {
    color: white;
    text-decoration: none;
}

/* Anchored link settings while hovering */
.navbar a:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}

.login button {
    border: none; 
    background-color: transparent;
    border-radius: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 10px 15px;
    font-family: palatino, URW Palladio L, serif;
}

.login button:visited {
    color: white;
    text-decoration: none;
    border: none;
}

.login button:hover {
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    color: black;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3); 
}

#searchMenu {
    display: none;
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    position: fixed;
    top: 35%;
    width: 70%;
    left: 15%;
    padding: 10px 10px;
    text-decoration: none;
    font-family: palatino, URW Palladio L, serif;
    background-color: black; /*rgba(255,255,255,0.7); gray*/ 
}

#searchMenu label {
    width: 120px;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: palatino, URW Palladio L, serif;
}

#searchMenu text {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-family: palatino, URW Palladio L, serif;
}

#searchMenu radio {
    margin-bottom: 10px;
    font-family: palatino, URW Palladio L, serif;
}

#searchMenu button {
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    padding: 5px 10px;
    font-family: palatino, URW Palladio L, serif;
}

#searchMenu button {
    color: white;
    background-color: rgb(30,144,255);
}

#loginform {
  color: white;
  position: fixed;
  border: 1px solid black;
  border-radius: 10px;
  top: 60px;
  left: 78%;
  background-color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 10px;
  font-family: palatino, URW Palladio L, serif;
  display: none;
}

#loginform label {
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-bottom: 10px;
}

#loginform button {
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    padding: 5px 10px;
    font-family: palatino, URW Palladio L, serif;
}

#loginform button:hover {
    color: white;
    background-color: rgb(30,144,255);
}

#loginform a {
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    align: center;
    width: 40%;
    font-size: 12px;
    margin-top: 10px;
    /*margin-left: 5px;*/
    padding: 1px 10px;
    font-family: palatino, URW Palladio L, serif;
}

#loginform a:hover {
    color: blue;
    text-decoration: none;
}

.login {
    font-size: 20px;
    /* padding-left: 50px; */
    /* letter-spacing: 2px; */
    height: 25px;
    width: 20%;
    /* margin-top: 15px; */
    position: fixed;
    top: 3%;
    left: 78%;
    display: inline-block;
}

.login a:link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: palatino, URW Palladio L, serif;
    padding: 10px 15px;
    text-align: center;
}

.login a:visited {
    color: white;
    text-decoration: none;
}

.login a:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}

#content-wrap {
    padding-bottom: 100px;
}

/* Footer settings */
#footercontainer {
    min-height: 100%;
}

#footermain {
    overflow: auto;
    padding-bottom: 80px;
}

#footer {
    background-color: black;
    bottom: 0;
    position: relative;
    color: white;
    text-align: center;
    height: 80px;
    margin-top: -80px;
    clear: both;
}

.button {
    position: fixed;
    top: 16.5%;
    left: 30%;
    border: 1px solid white; 
    background-color: white;
    border-radius: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 6px 10px;
    font-family: palatino, URW Palladio L, serif;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:focus {outline:0;}
button:focus {outline:0;}

.question {
    text-align: center;
    position: fixed;
    top: 15%;
    left: 7%;
    overflow: auto;
}

.FeedbackButton {
    text-align: center;
    position: fixed;
    border: none;
    top: 65%;
    left: 95%;
    transform: rotate(270deg);
    overflow: auto;
    color: white;
    border: 1px solid rgb(30,144,255);
    border-radius: 8px;
    background-color: rgb(30,144,255);
    font-size: 18px;
    padding: 10px 14px;    
    font-family: palatino, URW Palladio L, serif;
}

.FeedbackButton:hover {
    color: black;
    text-decoration: none;
}

#feedbackForm {
    display: none;
    text-align: left;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    top: 38%;
    width: 20%;
    left: 79%;
    padding: 10px 10px;
    text-decoration: none;
    font-family: palatino, URW Palladio L, serif;
    background-color: black; /*rgba(255,255,255,0.7); gray*/ 
}

#feedbackForm label {
    width: 100%;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px;
}

#feedbackForm select {
    width: 98%;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    margin-bottom: 10px;
    font-family: palatino, URW Palladio L, serif;
}

#feedbackForm input[type=text] {
    width: 100%;
    height: 75px;
    display: inline-block;
    resize: none;
    text-align: left;
    margin-bottom: 12px;
}

#feedbackForm input[type=submit] {
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 12px;
    font-size: 18px;
    width: 90%;
    padding: 5px 10px;
    font-family: palatino, URW Palladio L, serif;
}

#feedbackForm input[type=submit]:hover {
    color: white;
    background-color: rgb(30,144,255);
}

#feedbackForm button {
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 14px;
    padding: 5px 10px;
    font-family: palatino, URW Palladio L, serif;
}

#feedbackForm button:hover {
    color: white;
    background-color: rgb(30,144,255);
}

#feedbackForm input[type=reset] {
    border: none;
    /*border-radius: 15px;*/
    background-color: transparent;
    color: white;
    text-align: center;
    text-decoration: underline;
    display: block;
    margin: 0 auto;
    /*margin-bottom: 10px;*/
    font-size: 14px;
    padding: 5px 5px;
    font-family: palatino, URW Palladio L, serif;
}

#feedbackForm input[type=reset]:hover {
    color: rgb(30,144,255);
}

/* Remove the outer blue border when a button is selected */
#feedbackForm button:focus {outline:0;}
#feedbackForm input[type=submit]:focus {outline:0;}
#feedbackForm input[type=reset]:focus {outline:0;}

.text {
    color: white;
    font-family: palatino, URW Palladio L, serif;
    font-size: 38px;
    font-weight: 700;
    /*letter-spacing: 14px;*/
}

/* Animated wording at the bottom of the home page */
.container {
    text-align: center;
    position: fixed;
    top: 84%;
    left: 51%;
    transform: translate(-50%,-50%);
    overflow: auto;
}

.container span{
    text-transform: uppercase;
    display: block;
}

/* Animated wording text settings at the bottom of the home page */
.text1{
    color: white;
    font-family: palatino, URW Palladio L, serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 14px;
    margin-bottom: 20px;
    animation: text 4s 1;
}

.text2{
    color: white;
    font-family: palatino, URW Palladio L, serif;
    font-size: 18px;
    letter-spacing: 12px;
    animation: text 4s 1;
}

/* Animated motions at specified % of time */
@keyframes text{
    0%{
        color: black;
        letter-spacing: 14px;
    }
    60%{
        letter-spacing: 8px;
    }
}

/* Header 1 settings */
h1 {
    color: #375e97;
    font-size: 2em;
    font-family: palatino, URW Palladio L, serif;;
}

/* Header 2 settings */
h2 {
    color: white;
    font-size: 1.5em;
    font-family: palatino, URW Palladio L, serif;
}

/* Paragraph settings */
p {
    color: white;
    font-size: 1em;
    font-family: palatino, URW Palladio L, serif;
}
