body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: #49c2dc;
    background-image: url("images/IMG_1922.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #375e97;
}

h2 {
    font-size: 1.5em;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: #fb6542;
    text-decoration: none;
}

a:hover {
    text-decoration: underline overline;
}
