* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: #49c2dc;
    height: 100%;
    
    /* Background image setting */
    background-image: url("../images/MI Sunrise.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* Edit the tab section */
.navbar {
    /* text-align: left; */
    font-size: 20px;
    /* padding-left: 50px; */
    /* letter-spacing: 2px; */
    height: 25px;
    width: 45%;
    /* margin-top: 15px; */
    position: fixed;
    top: 3%;
    left: 2%;
    display: inline-block;
    /* background-color: rgba(255,255,255,0.5); */
}

/* Anchored link settings before visit */
.navbar a:link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: palatino, URW Palladio L, serif;
    padding: 10px 15px;
    text-align: center;
}

/* Anchored link settings after visit */
.navbar a:visited {
    color: white;
    text-decoration: none;
}

/* Anchored link settings while hovering */
.navbar a:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}

.login button {
    border: none; 
    background-color: transparent;
    border-radius: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 10px 15px;
    font-family: palatino, URW Palladio L, serif;
}

.login button:visited {
    color: white;
    text-decoration: none;
    border: none;
}

.login button:hover {
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    color: black;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3); 
}

form {
  color: white;
  position: absolute;
  top: 60px;
  left: 78%;
  background-color: black;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 10px;
  font-family: palatino, URW Palladio L, serif;
  display: none;
}

form button {
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    color: black;
    text-align: center;
    left: 50%;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    padding: 10px 10px;
    font-family: palatino, URW Palladio L, serif;
}

form a {
    text-align: center;
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 18px;
    padding: 10px 10px;
    font-family: palatino, URW Palladio L, serif;
}

form a:hover {
    color: blue;
    text-decoration: none;
}

.login {
    font-size: 20px;
    /* padding-left: 50px; */
    /* letter-spacing: 2px; */
    height: 25px;
    width: 20%;
    /* margin-top: 15px; */
    position: fixed;
    top: 3%;
    left: 78%;
    display: inline-block;
}

.login a:link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: palatino, URW Palladio L, serif;
    padding: 10px 15px;
    text-align: center;
}

.login a:visited {
    color: white;
    text-decoration: none;
}

.login a:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(255,255,255,0.3);
}

#content-wrap {
    padding-bottom: 100px;
}

/* Footer settings */
#footercontainer {
    min-height: 100%;
}

#footermain {
    overflow: auto;
    padding-bottom: 80px;
}

#footer {
    background-color: black;
    bottom: 0;
    position: relative;
    color: white;
    text-align: center;
    height: 80px;
    margin-top: -80px;
    clear: both;
}

.button {
    position: absolute;
    top: 80px;
    left: 80px;
    border: 1px solid white; 
    background-color: white;
    border-radius: 15px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 10px;
    font-family: palatino, URW Palladio L, serif;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:focus {outline:0;}
button:focus {outline:0;}

/* Animated wording at the bottom of the home page */
.container{
    text-align: center;
    position: absolute;
    top: 84%;
    left: 51%;
    transform: translate(-50%,-50%);
    overflow: auto;
}

.container span{
    text-transform: uppercase;
    display: block;
}

/* Animated wording text settings at the bottom of the home page */
.text1{
    color: white;
    font-family: palatino, URW Palladio L, serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 14px;
    margin-bottom: 20px;
    animation: text 4s 1;
}

.text2{
    color: white;
    font-family: palatino, URW Palladio L, serif;
    font-size: 18px;
    letter-spacing: 12px;
    animation: text 4s 1;
}

/*
.text3{
    color: white;
    font-family: palatino, URW Palladio L, serif;
    font-size: 18px;
    letter-spacing: 12px;
    animation: text 2s 1;
}
*/

/*
.text4{
    color: white;
    font-family: palatino, URW Palladio L, serif;
    font-size: 18px;
    letter-spacing: 12px;
    animation: text 2s 1;
}
*/

/* Animated motions at specified % of time */
@keyframes text{
    0%{
        color: black;
        letter-spacing: 14px;
    }
    60%{
        letter-spacing: 8px;
    }
}

/* Header 1 settings */
h1 {
    color: #375e97;
    font-size: 2em;
    font-family: palatino, URW Palladio L, serif;;
}

/* Header 2 settings */
h2 {
    color: white;
    font-size: 1.5em;
    font-family: palatino, URW Palladio L, serif;
}

/* Paragraph settings */
p {
    color: white;
    font-size: 1em;
    font-family: palatino, URW Palladio L, serif;
}

/* Edit the form section */
/*.form-container {
    text-align: center;
    color: black;
    height: 90px;
    width: 55%;
    margin-top: 10px;
    position: relative;
    top: 43.5%;
    left: 22.5%;
    dsplay: block;
    background-color: rgba(255,255,255,0.7);
}*/
